beautifulsoup4==4.6.0
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
Jinja2==2.10
lxml==4.1.1
PyMySQL==0.7.11
redis==2.10.6
requests==2.18.4
SQLAlchemy==1.1.15
urllib3==1.26.5
Werkzeug==0.14.1
wrapt==1.10.11
WTForms==2.1

